extends auth_layout

block content
    h2 #{i18n.title}
    
    h5.mb-3.text-secondary #{i18n.description1}
    
    h6 #{i18n.description2}

    h6 #{i18n.description3}

    br

    h6
        a(href='#{baseUrl}/#{forgotPasswordUrl}') #{i18n.try_again}
