extends auth_layout

block scripts
    if authUser
        meta(http-equiv="refresh" content="0; url=/")
    script(type='text/javascript').
        function validateLogin() {
            var username = $('#username').val();
            var password = $('#password').val();
            var usernameError = '';
            var passwordError = '';
            if (!username)
                usernameError = 'Please enter a value for the username. ';
            //- else if (!/.+@.+/.test(email))
            //-     emailError = 'Email address invalid. ';
            if (!password)
                passwordError = 'Please enter your password.';

            try {
                $('#errorUsername').text(usernameError);
                $('#errorPassword').text(passwordError);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }
            
            var somethingBad = !!usernameError
                || !!passwordError;
            
            return !somethingBad;
        }

block content
    h2 Log in
    
    p Welcome to the #{title}.

    if displayRedirectMessage
        h4 You will be redirected to the desired page right after successfully logging in.

    if errorMessage
        +flashMessage('error', errorMessage)

    form(role='form' action='#{baseUrl}/#{loginUrl}' method='post' onsubmit='return validateLogin();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')

        -var predefUsername = prefillUsername ? prefillUsername : '';

        .form-group
            label(for='username') Username:
            input(type='string' name='username' id='username' value='#{predefUsername}').form-control
            small 
                span(id='errorUsername' style='color:red')
        .form-group
            label(for='password') Password:
            input(type='password' name='password' id='password').form-control
            small
                span(id='errorPassword' style='color:red')
        button(class='btn btn-lg btn-primary btn-block' type='submit') Login
    
    h5
        a(href='#{baseUrl}/#{forgotPasswordUrl}') Forgot password?
        
    if !disableSignup
        h5
            a(href='#{baseUrl}/#{signupUrl}') Create a new user.
