extends auth_layout

block scripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(type='text/javascript').
        function validateSignup() {
            var email = $('#email').val();
            var password = $('#password').val();
            var password2 = $('#password2').val();
            var emailError = '';
            var passwordError = '';
            var password2Error = '';
            if (!email)
                emailError = 'Please enter a value for the email address. ';
            else if (!/.+@.+/.test(email))
                emailError = 'Email has to be a valid email address.';
            if (!password)
                passwordError = 'Please enter your password.';
            if (!password2)
                password2Error = 'Please repeat your password.';
            if (!password2Error && password !== password2)
                password2Error = 'Passwords do not match';
            if (!password
                || (password.length < 6 || password.length > 24))
                passwordError = 'Please enter a password, more than 5, less than 25 characters long.';

            try {
                $('#errorEmail').text(emailError);
                $('#errorPassword').text(passwordError);
                $('#errorPassword2').text(password2Error);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }
            
            var somethingBad = !!emailError
                || !!passwordError
                || !!password2Error;
            
            return !somethingBad;
        }

block content
    h2 Sign up
    
    p Welcome to the #{title}.

    if displayRedirectMessage
        h4 You will be redirected to the desired page right after successfully logging in.

    h4.
        By signing up to this portal, you agree to our <a target='_blank' href='#{portalUrl}content/terms-and-conditions'>Terms
        and Conditions</a> and the <a target='_blank' href='#{portalUrl}content/privacy-policy'>Privacy/Cookie Policy</a>.

    if errorMessage
        +flashMessage('error', errorMessage)

    form(role='form' action='#{baseUrl}/#{signupUrl}' method='post' onsubmit='return validateSignup();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')

        .form-group
            label(for='email') E-Mail address (username):
            input(type='string' name='email' id='email').form-control
            small 
                span(id='errorEmail' style='color:red')
        .form-group
            label(for='password') Password:
            input(type='password' name='password' id='password').form-control
            small
                span(id='errorPassword' style='color:red')
        .form-group
            label(for='password2') Password (repeat):
            input(type='password' name='password2' id='password2').form-control
            small
                span(id='errorPassword2' style='color:red')
        if recaptcha && recaptcha.useRecaptcha
            div(class='g-recaptcha' data-sitekey='#{recaptcha.websiteKey}')
            br
        button(class='btn btn-lg btn-primary btn-block' type='submit') Sign up
    
    if authorizeUrl
        h5
            a(href='#{baseUrl}/#{authorizeUrl}') Log in with an existing user
    h5
        a(href='#{baseUrl}/#{forgotPasswordUrl}') Forgot password?
