extends auth_layout

block scripts
    script(src='https://www.google.com/recaptcha/api.js')
    script(type='text/javascript').
        function validatePassword() {
            var password = $('#password').val();
            var password2 = $('#password2').val();
            var passwordError = '';
            var password2Error = '';
            if (!password)
                passwordError = 'Please enter your password.';
            if (!password2)
                password2Error = 'Please repeat your password.';
            if (!password2Error && password !== password2)
                password2Error = 'Passwords do not match';
            if (!password
                || (password.length < 6 || password.length > 24))
                passwordError = 'Please enter a password, more than 5, less than 25 characters long.';

            try {
                $('#errorPassword').text(passwordError);
                $('#errorPassword2').text(password2Error);
            } catch (err) {
                alert('Validation errored! Check your input values.');
                return false;
            }
            
            var somethingBad = !!passwordError
                || !!password2Error;
            
            return !somethingBad;
        }


block content
    h2 Reset Password
    
    p Please specify a new password for your user.

    form(role='form' action='#{baseUrl}/#{verifyPostUrl}' method='post' onsubmit='return validatePassword();')

        input(type='hidden' name='_csrf' value='#{csrfToken}')
        input(type='hidden' name='verification_id' value='#{id}')
        input(type='hidden' name='type' value='lostpassword')

        .form-group
            label(for='password') Password:
            input(type='password' name='password' id='password').form-control
            small
                span(id='errorPassword' style='color:red')
        .form-group
            label(for='password2') Password (repeat):
            input(type='password' name='password2' id='password2').form-control
            small
                span(id='errorPassword2' style='color:red')
        if recaptcha && recaptcha.useRecaptcha
            div(class='g-recaptcha' data-sitekey='#{recaptcha.websiteKey}')
            br

        button(class='btn btn-lg btn-primary btn-block' type='submit') Change Password
